$padWidth: 100px;
$padHeight: 80px;
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

body {
  font-family: 'DotGothic16',
  sans-serif;
}

body {
  user-select: none;
  background-color: #fff;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.inner-container {
  outline: 2px solid #000;
  position: relative;
  width: 660px;
  text-align: center;
  box-shadow: 3px 3px 5px black;
  background-color: lighten(grey, 40%);
  .pad-bank {
    width: $padWidth * 3 + 32;
    height: $padHeight * 3 + 32;
    display: inline-block;
    margin: 20px;
    .drum-pad {
      position: relative;
      float: left;
      width: $padWidth;
      height: $padHeight;
      margin-right: 10px;
      border-radius: 5px;
      padding-top: 30px;
      box-sizing: border-box;
      cursor: pointer;
      font-weight: bold;
      font-size: 20px;
    }
  }
  .logo {
    position: relative;
    top: 5px;
    margin-left: auto;
    margin-right: auto;
    right: 10px;
    .inner-logo {
      display: inline-block;
      font-weight: bold;
      font-size: 20px;
    }
  }
  .controls-container {
    width: 240px;
    height: $padHeight * 3 + 32;
    display: inline-block;
    margin: 40px 20px 0 10px;
    vertical-align: top;
    .control {
      width: 100px;
      margin: auto;
      p {
        margin-bottom: 0;
      }
      .select {
        @extend .outer-select;
        .inner {
          @extend .inner-select;
        }
      }
    }
    #display {
      width: 200px;
      background-color: gray;
      margin: 15px auto;
      padding: 15px;
      box-sizing: border-box;
    }
    .slider-style {
      appearance: none;
      border: 2px solid #000;
    }
    .slider-style:hover {
      opacity: 1;
    }
  }
}

.outer-select {
  margin: auto;
  border: 1px solid black;
  width: 50px;
  height: 19px;
  padding: 1px;
  background-color: rgb(255, 217, 0);
  border-radius: 15px;
}

.inner-select {
  width: 23px;
  height: 19px;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 1) 0%, rgba(237, 237, 237, 1) 24%, rgba(255, 255, 255, 1) 32%, rgba(0, 0, 0, 1) 48%, rgba(255, 255, 255, 1) 55%, rgba(255, 255, 255, 1) 100%);
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 10px;
  cursor: pointer;
}

@media screen and (max-width: 650px) {
  .inner-container {
    transform: scale(0.7);
  }
}
